* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color:#ebf2ff ;
}

.navbar {
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 2px;
    padding:0px 10px 0px 10px ;
    display: flex;
    justify-content: space-between;
}

.navbar_brand {
    
    width: 100px;
}

.navbar_logo {
    
    width: 100%;
}

.button_primary {
    
    /* font-family:; */
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    border:none;
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: bolder;
    border-radius: 6px;
     
}

.button_primary:hover {
   border: 2px solid #ff6767;
   cursor: pointer;
    
    

}

.container {
    margin:0px auto;
    padding: 20px;
}

.hero_image_container {
    width: 100%;
}

.hero_image {
    border-radius: 8px 8px 0px 0pxx;
    box-shadow: 0px 25px 50px -12px rgb(0 0 0 / 25%);
    width: 100%;
}

.hero_text {
    font-weight: 900;
    font-size: 30px;
    margin: 20px 0px;
    color: #1d3557;
}



.food_card_image {
    
    width: 100%;
}

.food_image {
    /* border-radius: 8px 8px 0px 0px ; */
    width: 100%;
}

.food_card_description {
    color: #1d3557;
    padding:15px 15px 15px 15px;
    
    font-weight: bolder;
}

.food_card {
    background-color: #F9F9F9;
    margin: 15px 0px ;

}

.explore_menu_text {
    text-align: center;
    margin: 15px 0px;

    color: #1d3557;
    font-weight:800;
    font-size: 35px;
   
}

.boxes_menu_text {
    width: 60%;
    margin:60px 0px ;
    font-size: small;
    font-weight:900 ;
    color: #1d3557;
    font-family: "Merriweather", sans-serif; ;
}

.box_list {
    
    display: flex;
    justify-content: space-evenly;
    justify-content: center center;
    
}
.boxes_img_list {
    background-color:white;
    width: 46%;
    margin: 15px 0px;
}

.boxes_img {
    
    width: 100%;
    
}
.boximg {

    width: 100%;
}

#imgone {
    margin-top:45px ;
    margin-bottom: 1px;
    
    
    
}

#im1 {
    margin-bottom: 1px;
}

.button_view_more {
    width: 100%;
    margin-top: 15px;
    padding: 18px 16px;
    font-size:medium;

}

.restaurants_text_line {
    margin-top: 50px;
    font-size: 23px;
    font-weight:800px ;

}

.restaurants_image_container {
    width: 54%;
}

.restaurants_images_upper {
    width: 70%;
    display: flex;
    align-items: baseline;
    margin-right: 15px;
    

}
.restaurants_images {
    width: 100%;
    margin: 2px 08px;
}
.restaurants_image1 {
    width: 156px;
    height: 100px;
    border-radius: 5px;
}
.restaurants_image2 {
    width: 200px;
    height: 120px;
    border-radius: 5px;
}
.restaurants_images_lower {
    width: 91%;
    display: flex;
    align-items: self-start;    
    margin-left: 15px;

}

.get_update {
    margin: 70px 0px;
}

.get_update_text {
    font-size: 24px;
}

.get_update_email {
    padding: 9px 10px;
    border: 1px solid #ee89a0;
    background-color: #fcedf0;
    border-radius: 4px;
    color: #1d3557;
    font-weight: 700;
}
.quote_text {
    text-align: center;
    color: white; 
    padding: 30% 0%;
}
.quote_container{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    height: fit-content;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 13px;
    z-index: -2;
}
.quote_bg {
    width: 100%;
    height: 245px;
    position: absolute;
    background-color: #1d3557;
    opacity:.4 ;
    background-repeat:no-repeat ;
    border-radius: 13px;
    z-index: -1;
    
}
.footer_section {
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    ); 
    border-radius: 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer_logo {
    width: 60%;
}
.footer_zomato {
    filter: brightness(0) invert(1);
    width: 100%;
}
.footer_list_text {
    margin:5px 0px;
    /* padding: 5px 0px; */
    color: #fff;
}



@media (min-width:768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
    .hero_container {
        margin-top:20px ;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        

    }

    .explore_menu_list {

        display: flex;
        justify-content: space-evenly;
        justify-content: center center; 
        margin-top: 40px;
        
    }
    
    .explore_menu_container {
        position: relative;
        margin: 100px 0px;
        /* transform: skewY(-5deg); */

    }

    .explore_menu_gradient_bg {
        position: absolute;
        margin-top:2px ;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        right: 0;
        height: 98%;
        z-index: -1;
        background-image : linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
    );
    transform: skewY(-5deg);
    padding-bottom:15px ;
    /* padding: 50px; */
        
    }

    #pizza_card{
        margin-top: -20px;
        margin-bottom: 40px;
    }

    .food_card {
        width: 30%;
    
    }

    .food_card_image {
        width: 100%;
    }

    .food_image {
        width: 100%;
    }
    
    .explore_menu_text {
        font-size: 30px;
        font-weight: 900;
    }
    .view_more_container {
        display:flex;
        justify-content: center;
    }
    .button_view_more {
        width: max-content;
    }
    .restaurants_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
       
    
    .restaurants_text_line {
        font-size: 30px;
        font-weight: 900;
    }
    .get_update {
       padding-left: 200px;
        
    }
    .get_update_text {
        font-size: 32px;
    }
    .get_update_email {
        width: 300px;
    }
    .quote_text {
        padding: 18% 70px;
        font-size: 24px;
        font-weight: 500;
     }
     .quote_container {
       height: 340px;
     }
     .quote_bg {
        height: 340px;
     }
     .footer_container {
        margin: 55px 0px;
     }
     .footer_section {
        flex-direction: row;
        justify-content:space-evenly;
     }
     .footer_logo {
        width:15% ;
        margin: 25px 0px;
     }
     .footer_zomato {
     }
     .footer_list_text {
        font-weight: 700;
        
     }
     .footer_list_text li {
        padding: 3px 0px;
     }
   
    
}

@media (min-width:1024px) {
    .container {
        
        max-width: 65%;
    }

    .navbar {
        padding: 7px;
    }

    .button_primary {
        padding: 20px;
        /* font-size: 20px; */
    }

    .hero_description {
        width: 100%;
    }

    .hero_text {
        font-size: 45px;
    }

    .restaurants_text_line {
        font-size: 46px;
    }

    .restaurants_image1 {
        width: 250px;
        height: 160px;
        

    }

    .restaurants_image2 {
        width: 300px;
        height: 240px;
    
    }
    .restaurants_images_upper {
        margin: 0;
    }
    .restaurants_images_lower {
        margin: 0;
    }
    .get_update {
        padding-left: 270px;
         
     }
     .get_update_text {
         font-size: 48px;
     }
     .get_update_email {
         width: 300px;
     }
     .get_update_button {
        padding: 18px 40px;
     }
     .quote_text {
        padding: 11% 70px;
        font-size: 32px;
        font-weight: 500;
     }
     .quote_container {
       height: 300px;
     }
     .quote_bg {
        height: 300px;
     }
     


    
}